.box-container {
  border: 3px solid #C779D0;
  border-radius: 5px;
  margin: 50px;
  position: relative;
  background: #FEAC5E; 
  background: linear-gradient(to right, #4BC0C8, #C779D0);
  display: flex;
  flex-flow: column;
}
.loader {
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flex {
  display: flex;
}

.box-container_speaker {
  border: 3px solid #C779D0;
  height: 40px;
  width: 30%;
  position: absolute;
  top: -20%;
  background: linear-gradient(to right, #4BC0C8, #C779D0);
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.box-container_text {
  height: 70%;
}
.box-container_text p {
  padding: 20px 30px;
  font-size: 1.5em;
  color: #fff;
}
.box-container button {
  height: 40px;
  width: 150px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  background: #4BC0C8;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  margin: 0px 30px;
  margin-top: 10px;
}

.box-container button svg {
  width: 100%;
  height: 40px;
  color: #fff;
  stroke-width: 2px;
  transition: all ease 0.3s;
}

.box-container button svg:hover {
  transform: translateX(10px);
}

@keyframes loader {
  from {
    transform: rotate(0deg)
  }
  to {
    transform:rotate(190deg)
  }
}
